
<div class="table-operations" nz-row="24">
  <div nz-col nzSpan="8">
    <button nz-button nzType="primary"  (click)="goToPage('/staff/edit',{code:authData.authCode})" *ngIf="auth.create">
      <i nz-icon nzType="plus" nzTheme="outline"></i> 添加
    </button>&nbsp;&nbsp;
    <button nz-button nzType="dashed"><i class="anticon anticon-delete"></i>删除</button>
  </div>
  <div nz-col nzSpan="16">
    <div class="searchWidth">
      <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixButton">
        <input type="text" [(ngModel)]="params.keyword" (keyup.enter)="search($event,true)"
               (ngModelChange)="search($event,false)" nz-input placeholder="名称"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button (click)="search($event,true)" nz-button nzType="primary" nzSize="default" nzSearch>搜索</button>
      </ng-template>
    </div>
  </div>
</div>

<nz-divider nzText="员工管理"></nz-divider>

<nz-table
  #staffTable
  nzShowSizeChanger
  [nzData]="rows"
  [nzScroll]="{x:'100%'}"
  [nzLoading]="help.isLoading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzFrontPagination]="false"
  (nzPageIndexChange)="getListByPage()"
  (nzPageSizeChange)="getListByPage(true)">
  <thead nzSingleSort>
  <tr>
    <th>姓名</th>
    <th>编号</th>
    <th>电话</th>
    <th>性别</th>
    <th>Email</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of staffTable.data">
    <td>{{data.name}}</td>
    <td>{{data.serialNo}}</td>
    <td>{{data.mobile}}</td>
    <td>{{data.genderName}}</td>
    <td>{{data.email}}</td>
    <td>
      <button title="修改数据" (click)="goToPage('/staff/edit',{id:data.id,code:authData.authCode})" nz-button
              nzType="primary" nzShape="circle" *ngIf="auth.update">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
      </button>
      <button nz-popconfirm nzPopconfirmTitle="确定删除吗?" (nzOnConfirm)="deleteRow(data.id)" *ngIf="auth.delete"
              title="删除数据" nz-button nzType="primary" nzShape="circle">
        <i nz-icon nzType="delete" nzTheme="outline" title="删除"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
