<form nz-form [formGroup]="validateForm">

  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="6" nzOffset="2">
      <nz-upload
        class="avatar-uploader"
        nzAction="/bizfile/uploadSingleFile"
        nzName="file"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="help.beforeUpload"
        (nzChange)="handleChange($event)"
      >
        <ng-container *ngIf="!obj.avatar">
          <i class="upload-icon" nz-icon [type]="help.isLoading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">头像</div>
        </ng-container>
        <img *ngIf="obj.avatar" width="150px" height="150px" [src]="help.environment.SERVER_URL+obj.avatar" class="avatar"/>
      </nz-upload>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serialNo">工号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写工号">
          <input nz-input placeholder="请填写工号" formControlName="serialNo" [(ngModel)]="obj.serialNo" name="serialNo"
                 id="serialNo"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">姓名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写姓名">
          <input nz-input placeholder="请填写姓名" formControlName="name" [(ngModel)]="obj.name" name="name" id="name"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="genderId">性别</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写性别">
          <input nz-input placeholder="请填写性别" formControlName="genderId" [(ngModel)]="obj.genderId" name="genderId"
                 id="genderId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">电话号码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写电话号码">
          <input nz-input placeholder="请填写电话号码" formControlName="mobile" [(ngModel)]="obj.mobile" name="mobile"
                 id="mobile"/>
        </nz-form-control>

      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" >
          <input nz-input placeholder="请填写邮箱" formControlName="email" [(ngModel)]="obj.email" name="email" id="email"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="identifyNo">证件号码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写证件号码">
          <input nz-input placeholder="请填写证件号码" formControlName="identifyNo" [(ngModel)]="obj.identifyNo"
                 name="identifyNo" id="identifyNo"/>
        </nz-form-control>

      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nationId">民族</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写民族" formControlName="nationId" [(ngModel)]="obj.nationId" name="nationId"
                 id="nationId"/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="departmentId">所属部门</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入新密码">
          <input nz-input placeholder="请填写所属部门" formControlName="departmentId" [(ngModel)]="obj.departmentId"
                 name="departmentId" id="departmentId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birthday">生日</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker placeholder="请填写生日" formControlName="birthday" [(ngModel)]="obj.birthday" name="birthday"
                          id="birthday"></nz-date-picker>
        </nz-form-control>

      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="positionId">职位</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写职位" formControlName="positionId" [(ngModel)]="obj.positionId"
                 name="positionId" id="positionId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="titleId">职称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写职称" formControlName="titleId" [(ngModel)]="obj.titleId" name="titleId"
                 id="titleId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="typeId">人员类型</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写人员类型" formControlName="typeId" [(ngModel)]="obj.typeId" name="typeId"
                 id="typeId"/>
        </nz-form-control>

      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="typeId">入职日期</nz-form-label>

        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker placeholder="请填入职日期" formControlName="joinDate" [(ngModel)]="obj.joinDate" ame="joinDate"
                          id="joinDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="birthProvinceId">所属省份</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写所属省份" formControlName="birthProvinceId" [(ngModel)]="obj.birthProvinceId"
                 name="birthProvinceId" id="birthProvinceId"/>
        </nz-form-control>

      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="birthCityId">所属城市</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写所属城市" formControlName="birthCityId" [(ngModel)]="obj.birthCityId"
                 name="birthCityId" id="birthCityId"/>
        </nz-form-control>

      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="policy">政治面貌</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="请填写政治面貌" formControlName="policy" [(ngModel)]="obj.policy" name="policy"
                 id="policy"/>
        </nz-form-control>

      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">状态</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group formControlName="status" [(ngModel)]="obj.status" name="status" id="status">
            <label nz-radio [nzValue]="0">启用</label>
            <label nz-radio [nzValue]="1">禁用</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>


  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="help.isLoading" (click)="submitForm()">保存</button>&nbsp;&nbsp;
      <button nz-button nzType="dashed" (click)="help.back()" [nzLoading]="help.isLoading">取消</button>
    </nz-form-control>
  </nz-form-item>
</form>
