<div class="table-operations">
  <button nz-button nzType="primary" routerLink="../add" *ngIf="initAuth('add')">
    <i nz-icon nzType="plus" nzTheme="outline"></i> 添加
  </button>&nbsp;&nbsp;
  <button nz-button nzType="dashed" *ngIf="initAuth('delete')"><i class="anticon anticon-delete"></i>删除</button>
</div>
<nz-table
  #staffTable
  nzShowSizeChanger
  [nzData]="rows"
  [nzScroll]="{x:'100%'}"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzFrontPagination]="false"
  (nzPageIndexChange)="getListByPage()"
  (nzPageSizeChange)="getListByPage(true)">
  <thead nzSingleSort>
  <tr>
    <th nzShowSort nzSortKey="name">名称</th>
    <th nzShowSort nzSortKey="code">编码</th>
    <th nzShowSort nzSortKey="describe">描述</th>
    <th nzShowSort nzSortKey="dataAuthFlag"><span>数据权限</span></th>
    <th nzShowSort nzSortKey="status">状态</th>
    <th nzShowSort nzSortKey="created">创建时间</th>
    <th><span>操作</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of staffTable.data">
    <td>{{data.name}}</td>
    <td>{{data.code}}</td>
    <td>{{data.describe}}</td>
    <td>{{data.dataAuthFlag}}</td>
    <td>{{data.status | status}}</td>
    <td>{{data.created}}</td>
    <td>
      <button title="修改数据" (click)="goToPage('/department/edit',{id:data.id,code:authData.authCode})" nz-button
              nzType="primary" nzShape="circle" *ngIf="initAuth('edit')">
        <i nz-icon nzType="edit" nzTheme="outline" title="编辑"></i></button>
      <button nz-popconfirm nzPopconfirmTitle="确定删除吗?" (nzOnConfirm)="deleteRow(data.id)" *ngIf="initAuth('delete')"
              title="修改数据" nz-button nzType="primary" nzShape="circle">
        <i nz-icon nzType="delete" nzTheme="outline" twoToneColor="red" title="删除"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
