
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24"  nzErrorTip="请填写名称">
      <input nz-input formControlName="name" [(ngModel)]="obj.name" name="name" id="name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sourceId">sourceId</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写">
      <input nz-input formControlName="sourceId" [(ngModel)]="obj.sourceId" name="sourceId" id="sourceId">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="appId">appId</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写名称">
      <input nz-input formControlName="appId" [(ngModel)]="obj.appId" name="appId" id="appId">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="appSecret">appSecret</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请填写名称">
      <input nz-input  formControlName="appSecret" [(ngModel)]="obj.appSecret" name="appSecret" id="appSecret">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="domain">domain</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="domain" [(ngModel)]="obj.domain" name="domain" id="domain">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="domain">menuState</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      {{obj.menuState}}<input type="hidden" nz-input formControlName="menuState" [(ngModel)]="obj.menuState" name="menuState" id="menuState">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">备注</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea formControlName="remark" name="remark" id="remark" [(ngModel)]="obj.remark" nz-input rows="4"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">状态</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择状态">
      <nz-radio-group formControlName="status" [(ngModel)]="obj.status" name="status" id="status" >
        <label nz-radio [nzValue]="'0'">启用</label>
        <label nz-radio [nzValue]="'1'">禁用</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" [nzLoading]="isLoading">保存</button>&nbsp;&nbsp;
      <button nz-button nzType="dashed" (click)="this.help.goToPage('/wxaccount/list', this.pageParams)" [nzLoading]="isLoading">取消</button>
    </nz-form-control>
  </nz-form-item>
</form>
